.header {
    display: flex;
    justify-content: space-between;
    padding: 10px;
    background-color: #b71c1c;
    color: white;
}

.header-title {
    font-size: 24px;
}

.header-actions .icon {
    margin: 0 5px;
    cursor: pointer;
}
